<div class="info-container">
    <div class="background-img">
        <div class="box">
            <div *ngIf="loading">
                <img id="loadingspinner" src="https://media1.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif?cid=790b76115cf3158f44697679631c842f&rid=giphy.gif
            " /> 
            </div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div *ngIf ="!loading" class="content">
                <div class="content-text">
                    <div class="content-title">{{people?.name}}</div>
                    <div class="content-info"><b>Birth Year:</b> {{people?.birth_year}}</div>
                    <div class="content-info"><b>Gender: </b> {{people?.gender}} </div>
                    <div class="content-info"><b>Height : </b>{{people?.height}}</div>  
                    <div class="content-info"> <b> Appears in {{people?.films.length}} {{people?.films.length === 1 ? "film" : "films"}}</b></div>
                </div>
                <div class="content-button">
                    <button (click)="peopleInfo();"> Next </button>
                </div>
            </div>
        </div>
    </div>
</div>
