<div class="info-container">
    <div class="background-img">
        <div class="box">
            <div *ngIf="loading">
                <img id="loadingspinner" src="https://media1.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif?cid=790b76115cf3158f44697679631c842f&rid=giphy.gif
            " /> 
            </div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div *ngIf ="!loading" class="content">
                <div class="content-text">
                    <div class="content-title">{{planeta?.name}}</div>
                    <div class="content-info"><b>Population:</b> {{planeta?.population}}</div>
                    <div class="content-info"><b>Climate: </b> {{planeta?.climate}} </div>
                    <div class="content-info"><b>Terrain: </b>{{planeta?.terrain}}</div>  
                    <div class="content-info"> <b> Featured in {{planeta?.films.length}} {{planeta?.films.length === 1 ? "film" : "films"}}</b></div>
                </div>
                <div class="content-button">
                    <button (click)="planetInfo();"> Next </button>
                </div>
            </div>
        </div>
    </div>
</div>
