<nav class="sidebarmenu" *ngIf="sidebar.visible">
    <ul>
      <li routerLink="/planets">
        <div class="planet-icon">
            <img src="/assets/img/Death-Star-icon.png"/>
        </div>
      </li>
      <li routerLink="/starships">
        <div class="starships-icon">
            <img src="/assets/img/Millennium-Falcon-icon.png" />
        </div>
      </li>
      <li routerLink="/vehicles">
        <div class="vehicles-icon">
            <img src="/assets/img/vehicle.png">
        </div>
      </li>
      <li routerLink="/people">
        <div class="people-icon">
            <img src="/assets/img/Leia-icon.png"/>
        </div>
      </li>
      <li routerLink="/films">
        <div class="films-icon">
            <img src="/assets/img/Lightsaber-Red-icon.png">  
        </div>
      </li>
      <li routerLink="/species">
        <div class="species-icon">
            <img src="/assets/img/Chewbacca-icon.png">
        </div>
      </li>
    </ul>
  </nav>
